.body{
    border: 4px solid rgb(45, 45, 45);
    margin: 0;
    padding: 0;
}
.container-fluid{
    margin-right: 40px;
    margin-left: 40px;
}
.navbar{
    position: fixed;
    z-index: 2;
    background-color: white !important;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
    width: 100%;
    margin-top: 0;
    top: 0;
}
.navbar-brand,a{
    font-family:"Cinzel", serif;
    color: black;
    font-weight: 500;
}
.nav-link a{
    padding-left: 20px;
    padding-right: 20px;
}
.squared-border {
    border: 1px solid #000;
    padding: 5px 10px; 
    margin-left: 10px;
}
.main-title {
    font-size: 4rem;
    font-family: "Cinzel", serif;
    text-align: center;
    margin: 40px 0;
    font-style: italic;
    margin-top: 130px;
}
.info-section {
    text-align: center;
    margin: 40px 0;
    font-style: italic;
    font-family: "Cinzel", serif;
}
.info-section h5 {
    font-weight: bold;
    margin-bottom: 10px;
    font-style: italic;
    font-family: "Cinzel", serif;
}
.info-section p {
    margin-bottom: 20px;
    font-family: "Cinzel", serif;
}
.paragraph-section {
    text-align: center;
    margin: 40px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Cinzel", serif; 
}
.links{
  justify-content: space-around;
  margin-top: 0;
}
.link {
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
  color: #333;
  text-decoration: none;
}
.link-pre {
  margin-left: 100px;
  margin-bottom: 25px;
  color: #333;
  text-decoration: none;
}
.footer {
  background-color: #333;
    color: white;
    padding: 40px 0;
    padding-bottom: 20px;
    display: flex;
    justify-content:space-around;
    width: 100%;
}
.footer .contact-info {
    font-size: 14px;
    color: white;
    font-family:  "Cinzel", serif;
    padding-right: 60px;
}
.footer .social-icons a {
    color: white;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
}
.footer .be-in-touch a{
    font-size: 48px;
    color: white;
    font-family:  "Cinzel", serif;
    font-style: italic;
    margin-left: 50px;
    text-decoration: none;
}
.container-contact{
  max-width: 100%;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: #717171;
  font-weight: bold;
  font-size: 18px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: grey;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.row{
  margin-right: calc(var(--bs-gutter-x)*0);
}